.footerLink{
  font-size: 17px;
}
.ord_btn {
    background-color: rgb(255, 20, 81);
    color: #fff!important;
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    box-shadow: 2px 3px 3px #999;
    text-decoration: none!important;
    margin: 20px 0 30px;
    line-height: 27px;
    text-transform: uppercase;
}
.btnCont{
    text-align:center;
}
.prod{
    display:block;
    margin:0 auto;
}
.alignCenter{
	display:block;
	margin:0 auto;
}
.mobileShow{
	display:none;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  line-height: 1.4em;
}
.container {
  max-width: 1075px;
  width: 100%;
  background-color: #fff;
  margin: 0px 0;
  padding: 0 25px 0px;
}
h5{
	font-size:20px;
}
header {
  border: 2px solid #b8b8b8;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 40px;
}
header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-image: url("https://worldtriviacenter.com/359/biostenixse-med2/gps/391bf0fc81ndfc96abd6786889f7072e66/img/header_img.png"); */
  background-position: 65% bottom;
  background-repeat: no-repeat;
}
header .header_content h1 {
  max-width: 540px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #1b478a;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin: 10px 0;
  text-transform: uppercase;
}
header .header_content h1 span {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}
header .header_content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #707070;
  height: 35px;
  max-width: 290px;
  width: 100%;
}
header .header_content div input {
  border: none;
  width: 100%;
  height: 100%;
}
.chart{
	    max-width: 545px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    margin: 25px auto 0;
}
.chart_text {
    margin: auto;
    max-width: 545px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
}
.chart_text p {
    width: 25%;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0;
}

.chart div {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.chart div p {
    text-align: center;
    font-size: 13px;
    margin: 10px 0;
    padding: 10px;
}
.chart div div {
    background-color: #33665f;
    width: 40%;
    height: 100px;
}

header .header_content div img {
  border-left: 1px solid #b8b8b8;
  padding: 0 5px;
}
header .header_box {
  background-color: #1b478a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}
header ul li {
  padding: 10px 20px;
}
header ul li a {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  text-decoration: none;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content {
  width: 100%;
}
.comments article{
	min-height:60px;
	border-bottom:1px solid grey;
}
.comments img{
	float:left;
	margin-right:10px;
}
#report_post img{
	margin-top:0 !important;
}
.content h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: left;
  margin-top: 10px;
}
.content h2 span {
  text-decoration: underline;
}
.content h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: left;
}
.content h4 {
  color: #000000;
  font-size: 23px;
  font-weight: 500;
  text-align: left;
  line-height: 28px;
  margin: 5px 0 20px;
}
.content p {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
  margin: 20px 0;
}
.content .img2 {
  max-width: 293px;
  width: 100%;
  float: left;
  margin: 0 25px 25px 0;
}
.content ul {
  margin-left: 25px;
}
 p,h3{
    text-align: justify!important;
  }
@media only screen and (max-width:1000px){
	header ul li a {
    color: #1c1c1c;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
    text-decoration: none;
}
	.content p{
		margin:0;
		font-size:18px;
	}
	h5{
		font-size:20px;
	}
}

@media only screen and (max-width:650px){

  .pic_one{
    width: 100%;
  }

    header{
      margin-bottom: 10px;
    }
      header .header_content h1 {
       font-size: 21px;
        margin: 10px 0;
    }
  
      .content h2 {
      color: #000000;
      font-size: 22px;
      font-weight: 700;
      line-height: 23px;
      text-align: left;
      margin-top: 3px;
  }
    .header_input{
    display:none !important;
  }
  .mobileHide{
    display:none !important;
  }
    .navigation{
    display:none;
  }
    .header_box{
      display:none !important;
    }
}

@media only screen and (max-width:500px){

	.content h3 {
    color: #000000;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.4em;
    text-align: left;
}
	.fullWidth{
		width:100%;
	}
	
	.prod{
		width:100%;
	}
	
	
	
	header{
		margin-bottom:5px;
	}
	
	.container {
    max-width: 1075px;
    width: 100%;
    background-color: #fff;
    margin: 0px 0;
    padding: 0 5px 0px;
}
	.content .img2{
		max-width:100%;
		margin:0 auto;
	}
	.content h4 {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    line-height: 25px;
    margin: 1px 0 7px;
}
	.content p {
    margin: 0;
    font-size: 16px;
}
}


